[Desktop Entry]
Version=1.0
Type=Application
Name=LXbrightness
Comment=Adjust brightness
Exec=/opt/lxbrightness.sh
Icon=display-brightness
Terminal=false
Categories=Utility;Settings;
